@{
    ViewData["Title"] = "Dashboard";
    ViewData["Menu"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string[] TableHeaders = new string[]
    {
    "Name",
    "Username",
    "Email",
    //"Role",
    "Actions"
    };
}

@*<div class="row">
    <div class="col-md-12">
        <form asp-controller="Admin" asp-action="SearchUser" method="post">
            <div class="row form-group">
               <div class="col-md-6">
                   <input name="search" class="form-control" placeholder="Search by name" />
               </div>
               <div class="col-md-2">
                   <button type="submit" class="btn btn-info"></button>
               </div>
           </div>
        </form>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <a asp-action="CreateStaff" asp-controller="Admin" class="btn btn-primary">Create Staff</a>
    </div>
</div>


<div class="row mt-3">
    <div class="col-md-12">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    @foreach (var header in TableHeaders)
                    {
                        <th>
                            @header
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var Data in Model.Users)
                    {
                        <tr>
                            <td>@Data.Name</td>
                            <td>@Data.UserName</td>
                            <td>@Data.Email</td>
                            @*<td>@Data.rol</td>*@
                            <td>
                                
                                <div class="btn-group btn-group-md">
                                    <form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@Data.Id">

                                        <a class="btn btn-success mx-2" asp-controller="Admin" asp-action="EditUser" asp-route-id="@Data.Id">Edit</a>
                                    @*<a class="btn btn-danger mx-2" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Data.Id">Edit</a>*@
                                        <button type="submit" class="btn btn-danger" >Delete</button>
                                    </form>
                                </div>
                                
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.CurrentPage != 1)
                {
                    <li class="page-item"><a class="page-link" href="?currentPage=@(Model.CurrentPage-1)">Previous</a></li>

                }
                @for (int i=1; i<=Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item"><a class="page-link active" href="?currentPage=@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?currentPage=@i">@i</a></li>
                    }
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" href="?currentPage=@(Model.CurrentPage+1)">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>



